@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #121315;
  color: white;
}
body {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  padding: 20px 50px;
  padding-bottom: 112px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
